.navbar {
	overflow: hidden;
	width: 65%;

}
.navbar a {
	color: #ffffff;
	border-bottom: solid 2px #ff0c0c;
	text-decoration: none;
	font-size: 15px;
  float: left;
  padding: 12px;
  text-align: center;
  width: 16.66%; 
}
.header {
	background-color: #000000;
  position: fixed;
		z-index: 3;
  width: 100%;
  top:0;
}
.footer {
    background-color: #555fd3;
      color: white;
    padding: 30px;
    bottom:0;
      width: 100%;
      float:left;
    text-align: center;
}
.centerHead{
  text-align: center;
  font-size: 35px;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .next {
  position: absolute;
  top: 50%;
  left: 200%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .next:hover {
  background-color: black;
}

.container .prev {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 33%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .prev:hover {
  background-color: black;
}

/* https://coolors.co/393d3f-fdfdff-c6c5b9-62929e-546a7b*/
* {box-sizing: border-box}
body {
	margin: 0;
	background-color: #494949;
	color: black;
  font-family: 'Nunito', sans-serif;
}

#main {
  margin-top: 50px;
	padding: 0 20px;
}

.title{ 
	color: white !important;
	font-family: 'Lobster', sans-serif;
} 

h1 {
  font-family: 'Raleway', sans-serif;
	font-size: 35px;
	color: #140959;
	text-align: center;
	width: 100%;
}

h2 {
	font-size: 36px;
		font-family: 'Raleway', sans-serif;
	text-align: center;
	width: 100%;
}

h3 {
	font-size: 15px;
		font-family: 'Raleway', sans-serif;
	text-align: center;
	width: 100%;
}

h4 {
	font-size: 12px;
		font-family: 'Raleway', sans-serif;
	width: 100%;
}
h5 {
	font-size: 20px;
		font-family: 'Raleway', sans-serif;
	width: 100%;
}

a {
	font-family: 'Nunito', sans-serif;
	color: black;
}