.navbar {
	overflow: hidden;
	width: 65%;

}
.navbar a {
	color: #ffffff;
	border-bottom: solid 2px #ff0c0c;
	text-decoration: none;
	font-size: 15px;
  float: left;
  padding: 12px;
  text-align: center;
  width: 16.66%; 
}
.header {
	background-color: #000000;
  position: fixed;
		z-index: 3;
  width: 100%;
  top:0;
}
.footer {
    background-color: #555fd3;
      color: white;
    padding: 30px;
    bottom:0;
      width: 100%;
      float:left;
    text-align: center;
}
.centerHead{
  text-align: center;
  font-size: 35px;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .next {
  position: absolute;
  top: 50%;
  left: 200%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .next:hover {
  background-color: black;
}

.container .prev {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .prev:hover {
  background-color: black;
}

